/* Fonts */

@font-face {
    src: url(fonts/PixelEmulator-xq08.ttf);
    font-family: pixel;
}

/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: pixel;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

* {
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Cursor */
.pointer {
    pointer-events: none;
    width: 18px;
    height: 32px;
    background-image: url("assets/sword.png");
    z-index: 25;
    position: absolute;
}

/* Start screen */
img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-user-drag: none;
}

.scene1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
    z-index: 20;
    width: 700px;
    height: 572px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter {
    display: none; 
    position: absolute; 
    width: 100%; 
    height: 115%; 
    top: 0; 
    left: 0; 
    background-color: rgba(0, 0, 255, 0.7); 
    z-index: 23; 
}

.RemoveBlock, .AnimateShow {
    animation: fadeOut 4s linear 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.starting h3 {
    margin: 0;
    top: 30%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 3.5em;
    color: #873f00;
    text-shadow: 0px 0px 0 rgb(77, 5, 0), -1px 1px 0 rgb(68, -4, 0),
                 -2px 2px 0 rgb(60, -12, 0), -3px 3px 0 rgb(52, -20, 0),
                 -4px 4px 0 rgb(43, -29, 0), -5px 5px 0 rgb(35, -37, 0),
                 -6px 6px 0 rgb(27, -45, 0), -7px 7px 6px rgba(0, 0, 0, 0),
                 -7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, .2);
    font-family: titel;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

button {
    grid-area: overlap;
    border: none;
    margin: 0;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.3em;
    font-family: pixel;
    color: transparent;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    animation: animate 0.9s linear infinite;
    background-size: 1000%;
    z-index: 22;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

/* Scene 2 */
.scene2 {
    opacity: 0;
    background-image: url("assets/introtext.png");
    background-size: contain; 
    background-repeat: no-repeat;
    width: 700px;
    height: 572px;
    position: absolute;
    z-index: 21;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
}

/* Scroll-up animation for Scene 2 */
.scroll-up-to-middle {
    animation: scrollUpToMiddle 15s cubic-bezier(0.5, 1, 0.5, 1) forwards;
}

@keyframes scrollUpToMiddle {
    0% {
        top: 130%;
        opacity: 1;
    }
    70% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

/* Scroll-out animation for Scene 2 */
.scroll-out-of-screen {
    animation: scrollOutOfScreen 10s cubic-bezier(0.5, 1, 0.5, 1) forwards;
}

@keyframes scrollOutOfScreen {
    0% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: -50%;
        opacity: 1;
    }
}

.scene2 h3 {
    width: 60%;
    text-align: justify;
    text-align-last: justify;
    color: blueviolet;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scene2 h2 {
    color: whitesmoke;
    position: relative; 
    top: 12%; 
    left: 10%; 
    transform: none; 
    width: 560px;
    font-size: 20px;
    text-align: center; 
}

.scene2 h2 .justified-text {
    text-align: justify;
    text-align-last: justify;
    display: inline-block;
    width: 100%;
    line-height: 1.6;
    letter-spacing: 6px;
}

.scene2 h2 .left-align {
    text-align: left;
    display: block;
    width: 100%;
    line-height: 1.6;
    letter-spacing: 6px;
}

.scene2 h2 .center-align {
    text-align: center;
    display: block;
    width: 100%;
    line-height: 1.6;
    letter-spacing: 6px;
}

/* Scene 3 */
.scene3 {
    opacity: 0;
    position: absolute;
    z-index: 22;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.scene3 .treasures-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 10px; /* Space between items */
}

.scene3 .vine {
    max-height: auto;
    width: auto;
}

.scene3 h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0 20px;
    white-space: nowrap;
    letter-spacing: 6px;
    font-size: 25px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grid-item {
    text-align: center;
    margin-top: 100px;
}

.grid-item img {
    width: 30px;
    height: 30px;
}

.grid-item p {
    margin-top: 15px;
    font-size: 18px;
    color: white;
    font-family: pixel;
    letter-spacing: 3px;
}

/* Centered Triforce */
.grid-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
    text-align: center;
}

.grid-last img {
    width: 50px; 
    height: 50px;
}

.grid-last p {
    margin-top: 40px;
    font-size: 18px;
    color: white;
    font-family: pixel;
    letter-spacing: 3px;
}

/* Default animation for larger screens */
@keyframes scrollUpScene3 {
    0% {
        top: 300%;
        opacity: 1;
    }
    100% {
        top: -200%;
        opacity: 1;
    }
}

.scene3.scroll-up {
    animation: scrollUpScene3 50s cubic-bezier(0.5, 1, 0.5, 1) forwards;
}

/* Phone-specific animation */
@keyframes scrollUpScene3Phone {
    0% {
        top: 500%;
        opacity: 1;
    }
    100% {
        top: -300%;
        opacity: 1;
    }
}

/* Media query for phones */
@media only screen and (max-width: 768px) {
    .scene3.scroll-up {
        animation: scrollUpScene3Phone 50s cubic-bezier(0.5, 1, 0.5, 1) forwards;
    }

    .scene3 .treasures-wrapper {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items */
    }

    .grid-container {
        grid-template-columns: 1fr; /* Single column layout for mobile */
        gap: 10px;
        margin-top: 20px;
    }

    .grid-item {
        margin-top: 50px;
    }

    .grid-item img {
        width: 20px;
        height: 20px;
    }

    .grid-item p {
        font-size: 14px;
    }

    .grid-last img {
        width: 40px;
        height: 40px;
    }
}

/* Scene 4 */
.scene4 {
    opacity: 0;
    position: absolute;
    z-index: 23;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scene4 .centered-content {
    position: relative;
    text-align: center;
}

.scene4 img {
    width: 400px; /* Adjust the size as needed */
    height: auto;
}

.scene4 h2 {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: pixel;
    font-size: 24px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px black;
}

/* Scroll-up animation for Scene 4 */
.scene4.scroll-up {
    animation: scrollUpScene4 18s cubic-bezier(0.5, 1, 0.5, 1) forwards;
}


/* Default animation for Scene 4 */
@keyframes scrollUpScene4 {
    0% {
        top: 150%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .scene4.scroll-up {
        animation: scrollUpScene4Phone 20s cubic-bezier(0.5, 1, 0.5, 1) forwards;
    }

/* Phone-specific animation for Scene 4 */
@keyframes scrollUpScene4Phone {
    0% {
        top: 250%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
    .scene1, .scene3, .scene4 {
        width: 100%;
        height: auto;
    }
    .scene2 { 
        width: 100%;
    }
    .starting h3 {
        font-size: 2em;
        top: 25%;
        left: 52%;
    }

    .filter {
        height: 100%;
    }

    button {
        font-size: 0.8em;
    }

    .scene2 h2 {
        font-size: 10px;
        width: 85%;
        top: 5%;
    }
    .scene2 h3 {
        font-size: 13px;
    }

    .scene3 h2 {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 20px;
    }

    .grid-item {
        margin-top: 50px;
    }

    .grid-item img {
        width: 20px;
        height: 20px;
    }

    .grid-item p {
        font-size: 14px;
    }

    .grid-last img {
        width: 40px;
        height: 40px;
    }

    .scene4 img {
        width: 80%;
    }

    .scene4 h2 {
        font-size: 18px;
    }
}
